.dashboardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  /* background: linear-gradient(to right, #1c1c1c, #2a2a2a); */
  color: #fff;
  box-sizing: border-box;
  overflow: auto;
}

.header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #00d8ff;
  text-align: center;
}

.chartCard {
    width: 90vw;
    max-width: 1200px;
    height: 600px;
    background-color: #222;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    padding: 1.5rem;
  }
